<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/materialize/dist/css/materialize.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/all.css" />
    <link rel="stylesheet" href="~/Style.css" />

    @RenderSection("styles", false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="row col s12 card-panel teal lighten-2 valign-wrapper" style="padding:0.50rem;">
        <div class="col s2">
            <a href="#" data-target="slide-out" id="menuIcon" class="sidenav-trigger">
                <i class="fas fa-bars fa-2x black-text"></i>
            </a>
        </div>
        <div class="col s10 white-text offset-s3">
            <h5 class="hide-on-med-and-down no-margin valign-wrapper">
                <a href="/home/index" class="white-text valign-wrapper">
                    <img src="~/android-chrome-192x192.png" style="width:3rem;" />
                    <span>Alarm Registration System</span>
                </a>
            </h5>
            <h5 class="hide-on-large-only no-margin valign-wrapper">
                <a href="/home/index" class="white-text valign-wrapper">
                    <img src="~/android-chrome-192x192.png" style="width:3rem;" />
                    <span>ARS</span>
                </a>
            </h5>
        </div>

        <div class="input-field col l3 no-margin selectwhite">
                <select id="language">
                    <option id="culturepl" value="pl">Polish (Polski)</option>
                    <option id="cultureen" value="en">English (English)</option>
                </select>
        </div>
        @*<div class="row no-margin">
            <a class="pad-015" asp-action="SetLanguage" asp-controller="System" asp-route-returnUrl="@Context.Request.Path" asp-route-culture="pl">
                <img class="col responsive-img" src="~/Images/pl_Flag.png" />
            </a>

            <a class="pad-015" asp-action="SetLanguage" asp-controller="System" asp-route-returnUrl="@Context.Request.Path" asp-route-culture="en">
                <img class="col responsive-img" src="~/Images/en_Flag.png" />
            </a>
        </div>*@
    </div>
    <div class="row">

        <ul id="slide-out" class="sidenav">
            @await Component.InvokeAsync("Menu")
            <li><a asp-action="Logout" asp-controller="Account"><i class="fas fa-power-off prefix"></i>@Localizer["logout"]</a></li>
        </ul>

        <div class="col s12 center-align section">
            <div id="container" style="margin-top:4rem;">
                @RenderBody()
            </div>
            <div class="footer-copyright section">
                <div class="row col s12">
                    <h6>&copy 2019 Alarm Registration System, All rights reserved.</h6>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/lib/materialize/dist/js/materialize.js" type="text/javascript"></script>
    <script src="~/Scripts.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $("#language").change(function () {
                let culture = $(this).val();
                ChangeLanguage(culture);
            });

            var url = "/system/GetCulture";
            var func = function (response) {
                $("#culture" + response).attr("selected", "selected");
                $("select").formSelect();
            }
            AjaxAndFunc(url, func, null);
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
<div id="ShowError">
    @if (TempData["Error"] != null)
    {
        <script type="text/javascript">
            M.toast({ html: "@TempData["Error"]", classes: "amber darken-1 special", displayLength: 2500 });
        </script>
    }
</div>