@model Models.Description
@{
    Layout = "_Layout";
    ViewData["Title"] = (Model.DescriptionID == 0 ? Localizer["adddocumentationitem"].Value : Localizer["editdocumentationitem"].Value)  + " " + Model.NotificationID;
}

    <form asp-action="AddDescriptionFinally" asp-controller="Notification" method="post">
        @if (Model.DescriptionID != 0)
        {
            <input type="hidden" asp-for="@Model.DescriptionID" />
        }
        <div class="row">
            <input type="hidden" asp-for="@Model.NotificationID" />
            <div class="input-field col s12 m7 l5 offset-l1 offset-m2">
                <i class="fas fa-keyboard prefix"></i>
                <textarea id="textarea1" asp-for="@Model.Text" class="materialize-textarea" data-length="1000"></textarea>
                <label asp-for="@Model.Text" for="textarea1">@Localizer["descriptionelement"]</label>
                <span asp-validation-for="Text" class="helper-text left-align red-text darken-1"></span>
            </div>
        </div>
        <div class="row">
            <div class="col l6 m9 s12 right-align">
                <a asp-action="DisplayNotification" asp-controller="Notification" asp-route-notificationId="@Model.NotificationID"
                   class="btn waves-effect waves-light orange">
                    @Localizer["cancel"]
                    <i class="fas fa-times"></i>
                </a>
                <button type="submit" class="btn waves-effect waves-light teal">@Localizer["add"] <i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </form>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>

    <script>
        $(document).ready(function () {
            $('textarea#textarea1').characterCounter();
        })
    </script>
}