@model Models.ViewModels.CreateUserViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["adduser"];
}

<form id="Form" asp-action="CreateAccount" asp-controller="Account" method="post">
    <input id="UserId" type="hidden" asp-for="UserId" />
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col l4 m6 s9 push-l1 push-m2">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="FNameInput" asp-for="FirstName" type="text" class="validate" />
                    <label id="FNameLabel" asp-for="FirstName">@Localizer["name"]</label>
                    <span asp-validation-for="FirstName" class="helper-text left-align red-text darken-1"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4 m6 s9 push-l1 push-m2">
                    <i class="far fa-user-circle prefix"></i>
                    <input id="SNameInput" asp-for="SecondName" type="text" class="validate" />
                    <label id="SNameLabel" asp-for="SecondName">@Localizer["surname"]</label>
                    <span asp-validation-for="SecondName" class="helper-text left-align red-text darken-1"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4 m6 s9 push-l1 push-m2">
                    <i class="fas fa-at prefix"></i>
                    <input id="EmailInput" asp-for="Email" type="text" class="validate" />
                    <label id="EmailLabel" asp-for="Email">@Localizer["email"]</label>
                    <span asp-validation-for="Email" class="helper-text left-align red-text darken-1"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4 m6 s9 push-l1 push-m2">
                    <i class="fas fa-user-tag prefix"></i>
                    <input id="UserInput" asp-for="UserName" type="text" class="validate disabled" />
                    <label id="UserLabel" asp-for="UserName">@Localizer["username"]</label>
                    <span asp-validation-for="UserName" class="helper-text left-align red-text darken-1"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4 m6 s9 push-l1 push-m2 left-align">
                    <i class="fas fa-id-card prefix"></i>
                    <select class="roles" asp-for="Role">
                        @foreach (string role in Model.roles)
                        {
                                <option value="@role">@Localizer[role]</option>
                        }
                    </select>
                    <label>@Localizer["accounttype"]</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l5 m7 s9 right-align">
            <div>
                <a asp-controller="@Model.Controller" asp-action="@Model.Action" class="btn waves-effect waves-light orange darken-2">
                    @Localizer["cancel"] 
                    <i class="fas fa-times"></i>
                </a>
                <button type="submit" class="btn waves-effect waves-light teal darken-1">@Localizer["add"] <i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</form>


@section scripts{
    <script src="~/Scripts.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
        if ($("#UserId").val() == '') {
            $("#SNameInput, #FNameInput").keyup(function () {
                var secondName = $('#SNameInput').val();
                var firstName = $('#FNameInput').val();
                if (firstName.length !== 0 && secondName.length !== 0) {
                    $url = "/Account/GenerateUserName";
                    var func = function (result) {
                        $('#UserInput').val(result).addClass('valid').change();
                        $('#UserLabel').addClass('active');
                    }
                    $data = $('#Form').serialize();
                    AjaxAndFunc($url, func, $data);
                }
            })
        }
        else {
            $('#UserInput').attr('readonly', 'readonly');
        }

    </script>
}





