@model Models.ViewModels.LoginViewModel
@{ 
    ViewData["Title"] = Localizer["login"];
    if (ViewBag.returnUrl != null)
    {
        //Model.ReturnUrl = ViewBag.returnUrl as string;
    }
}
<!DOCTYPE html>

<html class="max-height">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/materialize/dist/css/materialize.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/all.css" />
    <link rel="stylesheet" href="~/Style.css" />
</head>
<body class="log-background">
    <div class="row log-form">
        <div class="col s10 m6 l4 log-justify log-element">
            <div class="row valign-wrapper">
                <h3 class="teal-text">@Localizer["loginpanel"]</h3>
            </div>
            <form asp-action="Login" asp-controller="Account">
                <input type="hidden" asp-for="ReturnUrl" value="@ViewBag.returnUrl" />
                <div class="row">
                    <div class="red-text darken-2">@Html.ValidationMessage("Error")</div>
                </div>
                <div class="row">
                    <div class="input-field" aria-invalid="true">
                        <i class="fas fa-user prefix"></i>
                        <input asp-for="LoginName" type="text" class="validate" />
                        <label asp-for="LoginName">@Localizer["username"]/@Localizer["email"]</label>
                        <span asp-validation-for="LoginName" class="red-text darken-2"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field" aria-invalid="true">
                        <i class="fas fa-key prefix"></i>
                        <input asp-for="Password" type="password" class="validate" />
                        <label asp-for="Password">@Localizer["password"]</label>
                        <span asp-validation-for="Password" class="red-text darken-2"></span>
                    </div>
                </div>
                <div class="row">
                    <p class="col s6">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" type="checkbox" />
                            <span class="teal-text">@Localizer["rememberme"]</span>
                        </label>
                    </p>
                    <p class="col s6 right-align">
                        <a href="#" class="btn waves-effect waves-light orange">@Localizer["forgotpassword"]</a>
                    </p>
                </div>
                <div class="row right-align">
                    <button type="submit" class="btn waves-effect waves-light teal darken-1">@Localizer["logme"]</button>
                </div>
            </form>
        </div>
    </div>
    <script src="~/lib/materialize/dist/js/materialize.js" type="text/javascript"></script>
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
</body>
</html>
